@{
    ViewData["Title"] = "Home Page";
}

<div  class="text-center" style="background-image: url('https://previews.123rf.com/images/krulua/krulua1602/krulua160200046/51877068-technologie-futuristische-digitale-hintergrund-vektor-illustration.jpg'); background-position: center;
  background-repeat: no-repeat;background-size:cover;height: 100%;">
<br />

<br />
<br />
 <h1 style="text-align:right" >Own your future with <b>DigiTrade. </b></h1>
  <p style="text-align:right"><b>Invest in hundreds of US & Hong Kong brands and get a chance to diversify your portfolio.</b></p>
<p>
<p style="text-align:right; padding-right:250px">
    <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-controller="Home" asp-action="Privacy">Get Started</a>
</p>
<br /><br /><br/><br />
<br/><br/><br /><br />
<br /><br /><br /><br />
<br />

</div>
