@{
    ViewData["Title"] = "About DigiTrade";
}
<h3><b>@ViewData["Title"] </b></h3>

<p>There are trillions of rupees of wealth in India, lying in unproductive assets, losing value over time. We will help millions of Indians do better with their wealth.
We will help them participate confidently in the public markets and build generational wealth through the power of compounding.

<div> 
    <b><i><h3>
    Our mission is to bring prosperity to every Indian.</h3>
     </i></b>
</div>
<figure>
    <img src="https://upstox.com/app/themes/upstox/dist/img/about/indians.png" alt="sample" />
</figure>
We will help them invest by providing the right financial education to make the right investment decisions at the right time.

We will do this through a seamless digital platform that will bring together the best of cutting-edge technology, intuitive design, ease and safety.There are trillions of rupees of wealth in India, lying in unproductive assets, losing value over time. We will help millions of Indians do better with their wealth.
We will help them participate confidently in the public markets and build generational wealth through the power of compounding.
<br />
<br />
We will help them invest by providing the right financial education to make the right investment decisions at the right time.

We will do this through a seamless digital platform that will bring together the best of cutting-edge technology, intuitive design, ease and safety.
<br />
~ <b><i> DigiTrade India</i></b>
</p>